<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wise.js' %}"></script>

  </head>
  <body style="font-family: helvetica; width:600px">
    <h3>(django) 01: Browser to Server, invocation without response</h3>

    <p>
    This example will send an invocation from browser to server.
    It will send the content of the text input below.
    </p>

    <input id="content" type="text" value="Hello, World!"/>
    <button onClick="send_message()">Send</button>

    <script type="text/javascript">
    function wise_application(ws) {
	ws.stringToProxy("printer1 -w ws1")
	    .then(on_stringToProxy_response);

	function on_stringToProxy_response(proxy) {
	    remote = proxy;
	}
    }

    // UI callbacks
    function send_message() {
	remote.write(document.getElementById('content').value);
    }
    </script>

  </body>
</html>
