<!DOCTYPE html>
<html ng-app="chat">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <script src="/wise/js/wise.js"></script>
    <script src="/static/chat.js"></script>

      <style type="text/css" media="screen">
	body {
           font-family: helvetica;
        }

	#login, #chat {
	   margin-top: 50px;
	}

	.incoming {
	   height: 200px;
	   overflow: auto;
	}

 	#members {
 	   height: 212px;
 	}

	.animate-hide {
	    -webkit-transition:all linear 1s;
	    transition:all linear 1s;
	    opacity:1;
	}

	.animate-hide.ng-hide-add,
	.animate-hide.ng-hide-remove {
	    display:block!important;
	}

	.animate-hide.ng-hide {
	    opacity:0;
	}
      </style>
  </head>
  <body>

    <div ng-controller="loginCtrl" ng-hide="logged" class="container">
      <div id="login" class="jumbotron">

	<h2><b>AngularJS & wise</b> chat example</h2>

	<p>
	  In this example, the browser holds an object to receive incoming
	  text messages. That object is registered in the chat server
	  using the subscribe() method.
	</p>

	<p>
	  The chat room or the other room members send messages to you
	  using that proxy.  None of the invocations require replies.
	</p>

	<form name="loginBox">
	  <div class="row">
	    <div class="col-xs-6 col-xs-offset-3">

	      <div class="input-group row">
		<input type="text" ng-model="nickname" class="form-control"
		       placeholder="nickname" autofocus required/>
		<span class="input-group-btn">
		  <button class="btn btn-default" ng-click="login(nickname)"
			  ng-disabled="loginBox.$invalid">Go!</button>
		</span>
	      </div>

	    </div>
	  </div>
	</form>

      </div>

      <div class="alert alert-danger alert-dismissable animate-hide" ng-show="error_log">
	<button type="button" class="close" data-dismiss="alert"
		ng-click="clear_error()" aria-hidden="true">&times;</button>
	<strong>Error: </strong>{{error_log}}
      </div>

    </div>

    <div ng-controller="chatCtrl" id="chat" class="container" ng-show="logged">

      <div class="row">

	<div class="col-xs-8">
	  <div class="panel panel-default">

	    <div class="incoming"
		 ng-repeat="member in members"
		 ng-show="member.selected">
	      <div ng-repeat="message in member.messages" scroll-on-done>
		<b>{{message.sender}}: </b>{{message.content}}
	      </div>
	    </div>

	    <form name="chatBox">
	      <div class="panel-footer">
		<div class="input-group">
		  <input class="form-control" ng-model="message" autofocus required/>
		  <span class="input-group-btn">
		    <button class="btn btn-default"
			    ng-click="send_message()"
			    ng-disabled="chatBox.$invalid">Send!</button>
		  </span>
		</div>
	      </div>
	    </form>

	  </div>
	  <p>(Control-F5 forces page refresh)</p>
	</div>

	<div class="col-xs-4">
	  <div id="members" class="list-group">
	    <a class="list-group-item"><b>Members:</b></a>
	    <a class="list-group-item"
	       ng-repeat="member in members track by $index"
	       ng-click="select_member(member)"
	       ng-class="{active: member.selected}">
	      <span>{{member.nick}}</span>
	      <span class="badge pull-right" ng-show="member.new_message_count">
		{{member.messages.length}}
	      </span>
	    </a>
	  </div>
	</div>

      </div>

      <div class="alert alert-danger alert-dismissable" ng-show="error_log">
	<button type="button" class="close" data-dismiss="alert"
		aria-hidden="true" ng-click="clear_error()">&times;</button>
	<strong>Error: </strong>{{error_log}}
      </div>

      <div class="alert alert-warning alert-dismissable" ng-show="warning_log">
	<button type="button" class="close" data-dismiss="alert"
		aria-hidden="true" ng-click="clear_warning()">&times;</button>
	<strong>Warning: </strong>{{warning_log}}
      </div>

    </div>

  </body>
</html>
