<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wise.js' %}"></script>

  </head>
  <body style="font-family: helvetica; width:600px">
    <h3>(django) 02: Browser to Server, invocation with response</h3>

    <p>
    This example will send an invocation from browser to server, and server will
    send back some response. It will use the content of the input below.
    </p>

    <input id="content" type="text" value="Hello, World!"/>
    <button onClick="send_message()">Submit</button>

    <h4>Server replies</h4>

    <div id="responses" style="border: 1px solid #CCC; padding: 5px"></div>

    <script type="text/javascript">
    function prepend(id, text) {
        div = document.getElementById(id);
        div.innerHTML = text + div.innerHTML;
    }

    function wise_application(ws) {
	ws.stringToProxy("upper1 -h 127.0.0.1 -p 8000 -w ws1")
	    .then(on_stringToProxy_response);

	function on_stringToProxy_response(proxy) {
	    _("proxy ready", proxy);
	    remote = proxy;
	}
    }

    // UI callbacks
    function send_message() {
	var message = document.getElementById('content').value;

	remote.upper(message)
	    .then(function(reply) {
		prepend('responses', 'response: ' + reply + '<br/>');
	    });
    }
    </script>

  </body>
</html>
