<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="{% static 'jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wise.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <script type="text/javascript">
    function do_login() {
	location.href = "/hello/login?username=bart&password=secret"
    };

    function do_logout() {
	location.href = "/hello/logout"
    };
    </script>

  </head>
  <body>
    <div class="container">

      <br><br>
      <div class="row">
	<div class="col-md-2">

	  <div class="panel panel-primary text-center">
	    <div class="panel-heading">
	      Open JS Console to see what's happening...
	    </div>
	    <div class="panel-body">
	      {% if not user.is_authenticated %}
	      <button class="btn btn-lg btn-primary" onClick="do_login()">Login</button>
	      {% else %}
	      <button class="btn btn-lg btn-danger" onClick="do_logout()">Logout</button>
	      {% endif %}
	    </div>
	  </div>

	</div>
      </div>

    </div>
  </body>
</html>

<!--
    Local Variables:
      truncate-lines: true
    End:
-->
