<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <script type="text/javascript" src="{% static 'jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wise.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

  </head>
  <body>
    Hi.
  </body>
</html>

<!--
    Local Variables:
      truncate-lines: true
    End:
-->
