<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
	  rel="stylesheet" >

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'js/wise.js' %}"></script>

    <script type="text/javascript">
    var index = 0;
    var oid = Math.random().toString(36).substring(7);

    function log_line(source, msg) {
	index++;
	var item = $("<tr><td>{0}</td><td>{1}</td><td>{2}</td></tr>".format(
	    index, source, msg));
	$('#logger').prepend(item);
    };

    function on_error() {
	log_line("server", '<b class="text-danger">INVALID RESPONSE</b>');
    };

    function on_echo_response(response) {
	log_line("server", "response: " + response);
    };

    function on_raise_exception(exception) {
	var msg = "{0}: {1}".format(exception.name, exception.message);
	log_line("server", '<b class="text-danger">exception:</b>' + msg);
    };

    var proxy;
    var interval;

    function toggle_run() {
	if (interval === undefined) {
	    interval = setInterval(function() {
		log_line("client", "call to <i>raise_exception</i>");
		proxy.raise_exception(oid).then(on_error, on_raise_exception);
	    }, 1000);
	}
	else {
	    clearTimeout(interval);
	    interval = undefined;
	}
    };

    function wise_application(broker) {
	broker.stringToProxy("server -w ws1")
	    .then(on_proxy_response, on_error);

	function on_proxy_response(proxy_) {
	    proxy = proxy_;
	    log_line("client", "call to <i>echo</i>, msg:<b>{0}</b>".format(oid));
	    proxy.echo(oid).then(on_echo_response, on_error);
	};
    };
    </script>
  </head>

  <body>
    <div class="text-center">
      <button class="btn btn-default" onClick="toggle_run()">toggle run</button>
    </div>
    <table class="table">
      <thead>
	<tr>
    	  <th>#</th>
	  <th>Source</th>
	  <th>Message</th>
	</tr>
      </thead>
      <tbody id="logger">
      </tbody>
    </table>
  </body>
</html>

<!--
    Local Variables:
      truncate-lines: true
    End:
-->
