<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wise.js' %}"></script>
  </head>
    <body style="font-family: helvetica; width:600px">
    <h3>(django) 04: Server to Browser, invocation with response</h3>

    <p>
    In this example, the server will send invocations to browser, and browser will
    response something. The content of invocations will be shown below.
    </p>

    <h4>Server Messages</h4>
    <div id="messages" style="border: 1px solid #CCC; padding: 5px"></div>

    <p>
       (Control-F5 forces page refresh)
    </p>

    <script type="text/javascript">
    function prepend(id, text) {
        div = document.getElementById(id);
        div.innerHTML = text + div.innerHTML;
    }

    Servant = Class.extend({
	upper: function(message) {
	    var retval = message.toUpperCase();
            prepend('messages', "upper('{0}'), retval: '{1}'<br/>".format(
		message, retval));

	    return retval;
	},
    });

    function wise_application(ws) {
	ws.createObjectAdapter("WebAdapter", "-w browser")
	    .then(on_adapter_ready)
	    .then(wise.ready);

	function on_adapter_ready(adapter) {
	    adapter.add(new Servant(), "upper1");
	}
    }
    </script>
  </body>
</html>
